*
{
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}
:root
{
 --clr: rgb(27, 27, 27);
 --clr2: rgb(63, 62, 62);
 --clr3: rgb(68, 68, 68);
}
body
{
    min-height: 100vh;
    background: var(--clr);
}
/* top nav */
.topnav
{ 
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 5px;
    background: rgba(22, 22, 22, 0.897);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 69;
    color: #fff; 
}
.topnav h2
{
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* body part */


.con 
{
    position: relative;
    width: 100%;
    height: calc(100vh - 75px - (57px / 2));
    background: var(--clr);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}
.main1
{
    margin-top: 0;
    font-family: sans-serif;
}

.trnsbg1 {
    background: linear-gradient(to bottom, rgb(27,27,27), #f8f8f8);
    width: 100%;
    min-height: 80px;
}
.trnsbg2 {
    background: linear-gradient(to bottom, #f8f8f8, rgb(27,27,27));
    width: 100%;
    min-height: 80px;
}

.main1 .banner
{
    height: 100vh;
    background-image: url('BG-1g.JPG');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main1 .banner::after
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.main1 .banner h1
{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 40px;
    text-align: center;
    font-size: 70x;
    font-weight: 200;
    color: white;
    border: 3px solid white;
    z-index: 3;
}
.main1 .banner p
{
    max-width: 80%;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: 300;
    z-index: 5;
}

.main1 .banner2
{
    height: auto;
    background-image: url('BG-1j.JPG');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    z-index: 2;
}
.main1 .banner2::after
{
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.671);
}
.main1 .banner2 iframe
{
    z-index: 3;
}
.main1 .banner2 h2 {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px 10px;
    text-align: center;
    font-size: 70x;
    font-weight: 200;
    color: white;
    border: 3px solid white;
    z-index: 3;
}

.main1 h2
{
    margin: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: 300;
    color: #fff;
}
.main1 p
{
    margin: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    color: #fff;
}
.main1 center {
    position: relative;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
}
.main1 center .h2 {
    margin-left: 42%;
    margin-right: 42%;
    padding: 5px 10px;
    text-align: center;
    font-size: 70x;
    font-weight: 200;
    color: white;
    border: 3px solid white;
    z-index: 3;
}

.breakpoint {
    top: 0;
    height: 50px;
    margin: 10px;
}
.breakpoint2 {
    top: 0;
    height: 50px;
    margin: 60px;
}

.card {
    position: relative;
    width: 480px;
    min-height: 180px;
    background: var(--clr2);
    transition: 0.5s;
}
.card:hover {
    min-height: 450px;
}
.card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}
.card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 120px;
    background: linear-gradient(transparent, rgb(53, 148, 211), rgb(53, 148, 211), rgb(53, 148, 211), transparent);
    animation: Rotatoleft 5s linear infinite;
}
@keyframes Rotatoleft {
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.card .lines::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: var(--clr2);
}
.card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 4;
    overflow: hidden;
}
.card:hover .imgBx {
    top: -20px;
    width: 250px;
    height: 250px;
}
.card .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, rgb(144, 33, 167), rgb(144, 33, 167), rgb(144, 33, 167), transparent);
    animation: Rotatoright 4s linear infinite;
}
@keyframes Rotatoright {
    0%
    {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
.card .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: var(--clr3);
}
.card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    filter: grayscale(1);
}
.card .imgBx img:hover{
    filter: grayscale(0);
}
.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.4s;
    transform: translateY(135px);
}
.card:hover .content .details {
    transform: translateY(0px);
}
.card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(53, 148, 211);
    line-height: 1.2em;
}
.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}
.card .content .details .info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.card .content .details .info h3 {
    font-size: 1em;
    color: rgb(53, 148, 211);
    line-height: 1.2em;
    font-weight: 600;
}
.card .content .details .info h3 span {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
}
.card .content .details .actbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card .content .details .actbtn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: rgb(144, 33, 167);
    color: #222;
    cursor: pointer;
    opacity: 0.9;
}
.card .content .details .actbtn button:hover {
    opacity: 1;
}



/* bottom nav */
.btmcvr
{
    position: fixed;
    width: 100%;
    height: calc(75px + (57px / 2));
    left: 0;
    bottom: 0;
    background: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.navigation
{
    position: relative;
    width: 320px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 77;
}
.navigation ul
{
    display: flex;
    width: 280px;
    z-index: 20;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 32;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    z-index: 40;
}
.navigation ul li.active a .icon
{
    transform: translateY(-35px);
}
.navigation ul li.active:hover a .icon
{
    transform: translateY(-35px);
}
.navigation ul li:hover a .icon
{
    transform: translateY(-14px);

}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
.navigation ul li:hover a .text
{
    opacity: 1;
    transform: translateY(10px);
}

.indicator
{
    position: absolute;
    top: -50%;
    width: 57px;
    height: 57px;
    background: linear-gradient(to bottom,
    #3f7bcf, #16375c);;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li.active:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li.active:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li.active:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li.active:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}